# Google BigQuery
Github: https://github.com/googleapis/python-bigquery  
Pandas & Biquery: https://cloud.google.com/bigquery/docs/bigquery-storage-python-pandas#pip  
Sandbox: https://cloud.google.com/bigquery/docs/samples/bigquery-pandas-public-data-sandbox?hl=en  
TD blog: https://towardsdatascience.com/3-ways-to-query-bigquery-in-python-66838f45cb43  
LI blog: https://www.linkedin.com/pulse/how-import-your-google-bigquery-data-python-julian-beukers/

##### 0. Set up a project and retrieve credential file: step 1) to 4) of below page
https://cloud.google.com/bigquery/docs/quickstarts/quickstart-client-libraries#client-libraries-install-python

##### 1. Install cloud sdk (gcloud, gsutil and bq)
Installation: https://cloud.google.com/sdk/docs/install - *note: no need to go through 2) b) (optional)*  
Gcloud next steps & tutorial: https://cloud.google.com/sdk/auth_success

##### 2. Set an environment variable
Write the following in powershell/terminal/command line
> export GOOGLE_APPLICATION_CREDENTIALS=**"KEY_PATH"** ; meaning:  
> export GOOGLE_APPLICATION_CREDENTIALS= "/Users/nhathiep/Python_Projects/SQL connectors/proud-outrider-337507-319bec3fd79c.json"

https://cloud.google.com/docs/authentication/getting-started#auth-cloud-implicit-python

In [10]:
import os
os.path.join(os.getcwd(),'proud-outrider-337507-319bec3fd79c.json')

'/Users/nhathiep/Python_Projects/SQL connectors/proud-outrider-337507-319bec3fd79c.json'

#### installation for anaconda: 
https://cloud.google.com/bigquery/docs/bigquery-storage-python-pandas#pip  
>! conda install -c conda-forge google-cloud-bigquery #https://anaconda.org/conda-forge/google-cloud-bigquery  
>! conda install -c conda-forge google-cloud-bigquery-storage  
>! conda install pyasn1-modules  
>! conda install grpcio  
>! conda install pyarrow  

OR 
>! pip google-cloud-storage  
>! pip google-cloud-bigquery  
>! pip google-cloud-bigquery-storage  

Maybe `! conda/pip install google-cloud-storage (TBD)`

In [1]:
import json
credfile = json.load(open('proud-outrider-337507-319bec3fd79c.json'))

from google.oauth2 import service_account
credentials = service_account.Credentials.from_service_account_file('proud-outrider-337507-319bec3fd79c.json')
credentials

In [15]:
#Authenticate
from google.oauth2 import service_account
credentials = service_account.Credentials.from_service_account_file('proud-outrider-337507-319bec3fd79c.json')

from google.cloud import bigquery
client = bigquery.Client(credentials=credentials) #credentials=credentials to pass on credentials

# Perform a query.
QUERY = (
    'SELECT name FROM `bigquery-public-data.usa_names.usa_1910_2013` '
    'WHERE state = "TX" '
    'LIMIT 10')
query_job = client.query(QUERY)  # API request
#rows = query_job.result()  # Waits for query to finish

#for row in rows:
#    print(row.name)

dataframe = (
    query_job
    .result()
    .to_dataframe(
        # Optionally, explicitly request to use the BigQuery Storage API. As of
        # google-cloud-bigquery version 1.26.0 and above, the BigQuery Storage
        # API is used by default.
        create_bqstorage_client=True,
    )
)
print(dataframe.head())

       name
0   Frances
1     Alice
2  Beatrice
3      Ella
4  Gertrude

In [16]:
dataframe.head()

       name
0   Frances
1     Alice
2  Beatrice
3      Ella
4  Gertrude